<!DOCTYPE html>
<html>

<head>
    <style type="text/css">
        @page {
            size: 21cm 29.7cm;
            margin: 20mm 45mm 20mm 45mm;
            /* change the margins as you want them to be. */
        }
    </style>
</head>

<body style="background-color:#FFFFFF;">

    <div>

        <!-- CHANGEMENT DE PARTIE -->
        <div width='90%' style='border-left: rgb(0,201,0);border-left-width: 3px;border-left-style: solid;padding-left:10px;margin-top:50px;'>
            <span style='color:black;font-size: 15px;font-family: Arial, Helvetica, sans-serif'>CARACTERISTIQUES DE L'ADHESION</span>
        </div>

        <!-- BLOC DE PARTIE -->
        <div width='90%' style='margin-top:15px;'>
            <!-- TITRE CATEGORIE -->
            <span style='color:rgb(0,201,0);font-size:12px;font-family: Arial, Helvetica, sans-serif'>DUREE DU CONTRAT</span>
            <br>
            <!-- REPONSES CATEGORIE -->
            <br><span style='color:black;font-size:10px;font-family: Arial, Helvetica, sans-serif'>&#x25a0; Dur&#xE9;e viag&#xE8;re</span>
            <br>
            <br><span style='color:rgb(0,201,0);font-size:12px;font-family: Arial, Helvetica, sans-serif'>MONTANT DE LA SOUSCRIPTION</span>
            <br>
            <br><span style='color:black;font-size:10px;font-family: Arial, Helvetica, sans-serif'>Versement initial : {{ resp.initialInvestment }} &#x20AC;</span>
            <br><span style='color:black;font-size:10px;font-family: Arial, Helvetica, sans-serif'><i>R&#xE9;gl&#xE9; par pr&#xE9;l&#xE8;vement sur le compte bancaire suivant dont je suis le titulaire <!-- : IBAN n&#xB0; {{ resp.iban }}</i></span> -->
            <br><span style='color:black;font-size:10px;font-family: Arial, Helvetica, sans-serif'>Versements libres programm&#xE9;s mensuels : {{ resp.monthlyInvestment }} &#x20AC;</span>
            <br>
            <br><span style='color:black;font-size:10px;font-family: Arial, Helvetica, sans-serif'>R&#xE9;partition du versement initial : (total de {{ resp.initialInvestment }} &#x20AC;)</span>
            <table width='100%'>
                <tbody>
                    {% for product in resp.initialRepartition %}
                    <tr style='margin:auto;color:black;font-size:10px;font-family: Arial, Helvetica, sans-serif;'>
                        <td width='30%'>{{ product.name }}</td>
                        <td width='30%'>{{ product.isin }}</td>
                        <td width='20%'>{{ product.percent }}</td>
                        <td width='20%'></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <br>
            <br><span style='color:black;font-size:10px;font-family: Arial, Helvetica, sans-serif'>R&#xE9;partition des versements mensuels programm&#xE9;s :</span>
            <table width='100%'>
                <tbody>
                    {% for product in resp.monthlyRepartition %}
                    <tr style='margin:auto;color:black;font-size:10px;font-family: Arial, Helvetica, sans-serif;'>
                        <td width='30%'>{{ product.name }}</td>
                        <td width='30%'>{{ product.isin }}</td>
                        <td width='20%'>{{ product.percent }}</td>
                        <td width='20%'></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <br>
            <br><span style='color:rgb(0,201,0);font-size:12px;font-family: Arial, Helvetica, sans-serif'>ACCES A LA CONSULTATION ET AUX TRANSACTIONS EN LIGNE</span>
            <br>
            <br><span style='color:black;font-size:10px;font-family: Arial, Helvetica, sans-serif'>
                    &#x25a0; En souscrivant au contrat <b>Mon Petit Placement Vie</b>, j'ai acc&#xE8;s &#xE0; la consultation et gestion de mon contrat en ligne. Le code d'acc&#xE8;s confidentiel sera attribu&#xE9; sous r&#xE9;serve de respecter les r&#xE8;gles pr&#xE9;vues par l'article &#xAB; Souscription, consultation et gestion du contrat en ligne &#xBB; et de l'annexe 3 &#xAB; Consultation et gestion du contrat en ligne &#xBB; de la Note d'information valant Conditions g&#xE9;n&#xE9;rales.
            </span>
            <br>
            <br><span style='color:rgb(0,201,0);font-size:12px;font-family: Arial, Helvetica, sans-serif'>DEMATERIALISATION DES INFORMATIONS ET DES DOCUMENTS</span>
            <br>
            <br><span style='color:black;font-size:10px;font-family: Arial, Helvetica, sans-serif'>
                La D&#xE9;mat&#xE9;rialisation des informations et des documents est automatiquement int&#xE9;gr&#xE9;e &#xE0; votre contrat.
                Vous pouvez y renoncer en notifiant express&#xE9;ment votre refus.
                <br>{{ noDematerialization }} Je refuse la d&#xE9;mat&#xE9;rialisation des informations et des documents qui m'est propos&#xE9;e dans le cadre de ce contrat.
            </span>
            <br>
            <br><span style='color:rgb(0,201,0);font-size:12px;font-family: Arial, Helvetica, sans-serif'>BENEFICIAIRE(S)</span>
            <br>
            <br><span style='color:black;font-size:10px;font-family: Arial, Helvetica, sans-serif'>En cas de d&#xE9;c&#xE8;s de l'Assur&#xE9;(e) : {{ resp.beneficiaryClause }}</span>
        </div>

        <!-- CHANGEMENT DE PARTIE -->
        <div width='90%' style='border-left: rgb(0,201,0);border-left-width: 3px;border-left-style: solid;padding-left:10px;margin-top:50px;'>
            <span style='color:black;font-size: 15px;font-family: Arial, Helvetica, sans-serif'>VALEURS DE RACHAT ET MONTANT CUMULE DES VERSEMENTS BRUTS</span>
        </div>

        <!-- BLOC DE PARTIE -->
        <div width='90%' style='margin-top:15px;'>
            <!-- TITRE CATEGORIE -->
            <span style='color:rgb(0,201,0);font-size:12px;font-family: Arial, Helvetica, sans-serif'>CARACTERISTIQUES DU CONTRAT</span>
            <br>
            <!-- REPONSES CATEGORIE -->
            <br><span style='color:black;font-size:10px;font-family: Arial, Helvetica, sans-serif'>Frais sur versements : 0 &#x25;
            <br>(a) Montant du versement initial brut et net de frais sur versements : {{ resp.initialInvestment }} &#x20AC;</span>
            <br>
            <br><span style='color:rgb(0,201,0);font-size:12px;font-family: Arial, Helvetica, sans-serif'>TABLEAU DU MONTANT CUMULE DES VERSEMENTS BRUTS</span>
            <br>
            <br><span style='color:black;font-size:10px;font-family: Arial, Helvetica, sans-serif'>Je compl&#xE8;te le tableau avec la valeur (a) indiqu&#xE9;e pr&#xE9;c&#xE9;demment</span>
            <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:transparent;background-color:transparent;width:100%;border: 1px solid black;">
                <tbody>
                    <tr style="border: 1px solid black;color:black;font-size:10px;font-family: Arial, Helvetica, sans-serif">
                        <td style="border: 1px solid black;text-align:center;width:35%">Ann&#xE9;e</td>
                        <td style="border: 1px solid black;text-align:center;width:30%">1</td>
                        <td style="border: 1px solid black;text-align:center;width:5%">2</td>
                        <td style="border: 1px solid black;text-align:center;width:5%">3</td>
                        <td style="border: 1px solid black;text-align:center;width:5%">4</td>
                        <td style="border: 1px solid black;text-align:center;width:5%">5</td>
                        <td style="border: 1px solid black;text-align:center;width:5%">6</td>
                        <td style="border: 1px solid black;text-align:center;width:5%">7</td>
                        <td style="border: 1px solid black;text-align:center;width:5%">8</td>
                    </tr>
                    <tr style='color:black;font-size:10px;font-family: Arial, Helvetica, sans-serif'>
                        <td style="border: 1px solid black;">Montant cumul&#xE9; des versements bruts effectu&#xE9;s sur le contrat, exprim&#xE9; en euros Montant identique pour les 8 ans</td>
                        <td style="border: 1px solid black;text-align:center;">(a) {{ resp.initialInvestment }} &#x20AC;</td>
                        <td style="border: 1px solid black;text-align:center;">(a)</td>
                        <td style="border: 1px solid black;text-align:center;">(a)</td>
                        <td style="border: 1px solid black;text-align:center;">(a)</td>
                        <td style="border: 1px solid black;text-align:center;">(a)</td>
                        <td style="border: 1px solid black;text-align:center;">(a)</td>
                        <td style="border: 1px solid black;text-align:center;">(a)</td>
                        <td style="border: 1px solid black;text-align:center;">(a)</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- BAS DE PAGE -->
        <table width='90%' style='margin:auto;padding-top: 10px; margin-top:30px'>
            <tbody width='100%'>
                <tr width='100%'>
                    <td width='40%'>
                        <img height="auto" src="../images/logo_generali.jpg" style="border:0;display:block;outline:none;text-decoration:none;height:auto;width:30%;font-size:13px;" width="240">
                    </td>
                    <td width='20%'>
                    </td>
                    <td width='40%' style='text-align: right'>
                        <img height="auto" src="../images/logo_mpp.jpg" style="border:0;display:block;outline:none;text-decoration:none;height:auto;width:30%;font-size:13px;" width="240">
                    </td>
                </tr>
                <tr width='100%' valign='top'>
                    <td width='40%'>
                        <span style='color:black;font-size: 7px;font-family: Arial, Helvetica, sans-serif'>Generali Vie, Soci&#xE9;t&#xE9; Anonyme au capital de 336 872 976 euros, Entreprise r&#xE9;gie par le Code des Assurances - 602 062 481 RCS Paris,</span>
                        <br><span style='color:black;font-size: 7px;font-family: Arial, Helvetica, sans-serif'>Si&#xE8;ge social : 2 rue Pillet-Will - 75009 Paris</span>
                        <br><span style='color:black;font-size: 7px;font-family: Arial, Helvetica, sans-serif'>Soci&#xE9;t&#xE9; appartenant au Groupe Generali, immatricul&#xE9; sur le registre italien des groupes d'assurances sous le num&#xE9;ro 026</span>
                    </td>
                    <td width='20%'>
                    </td>
                    <td width='40%'>
                        <span style='color:black;font-size: 7px;font-family: Arial, Helvetica, sans-serif'>Mon Petit Placement, Soci&#xE9;t&#xE9; par Actions Simplifi&#xE9;es au capital de 40 000 euros - 831 051 453 RCS LYON</span>
                        <br><span style='color:black;font-size: 7px;font-family: Arial, Helvetica, sans-serif'>Si&#xE8;ge social : 13 Chemin du Saquin - 69130 Ecully</span>
                        <br><span style='color:black;font-size: 7px;font-family: Arial, Helvetica, sans-serif'>Enregistré à l'ORIAS sous le n°17005501 en qualité de courtier en assurance</span>
                    </td>
                </tr>
            </tbody>
        </table>
        <div width='90%' style='margin-top:50px;'>
            <span style='color:black;font-size: 10px;font-family: Arial, Helvetica, sans-serif'>
                    PAC7001BSA (7001/7002) - Septembre 2020 - Proposition d'assurance 2/2 - Bulletin de souscription - <b>Mon Petit Placement Vie</b> - Gestion des Imprimés
            </span>
        </div>

    </div>

</body>

</html>