<!DOCTYPE html>
<html>

<head>
    <style type="text/css">
        @page {
            size: 21cm 29.7cm;
            margin: 20mm 45mm 20mm 45mm;
            /* change the margins as you want them to be. */
        }
    </style>
</head>

<body style="background-color:#FFFFFF;">
    <div>
        <table width='90%' style='margin:auto; margin-top:5px'>
            <tbody width='100%'>
                <tr width='100%'>
                    <td width='43%'>
                        <span style='color:black;font-size: 20px;font-family: Arial, Helvetica, sans-serif'>Mandat de pr&#xE9;l&#xE8;vement</span>
                    </td>
                    <td width='7%'>
                    </td>
                    <td width='50%' style='text-align: right'>
                        <img height="auto" src="../images/logo_generali.jpg" align='right' style="border:0;display:block;outline:none;text-decoration:none;height:auto;width:60%;font-size:13px;" width="240">
                    </td>
                </tr>
                <tr width='100%' valign='top'>
                    <td width='43%'>
                        <span style='color:black;font-size: 10px;font-family: Arial, Helvetica, sans-serif'>La r&#xE9;f&#xE9;rence unique de mandat utilis&#xE9;e pour pr&#xE9;lever votre compte bancaire sera &#xE9;gale &#xE0; l'IBAN du compte que vous nous pr&#xE9;cisez ci-dessous.</span>
                        <br><span style='color:black;font-size: 10px;font-family: Arial, Helvetica, sans-serif'>Les pr&#xE9;l&#xE8;vements sur compte &#xE9;pargne ne sont pas accept&#xE9;s.</span>
                        <br><span style='color:black;font-size: 10px;font-family: Arial, Helvetica, sans-serif'>Num&#xE9;ro de contrat/ d'adh&#xE9;sion : {{ resp.contractId }}</span>
                    </td>
                    <td width='7%'>
                    </td>
                    <td width='50%' style='text-align: right
                    '>
                        <span style='color:black;font-size: 10px;font-family: Arial, Helvetica, sans-serif'>Generali Vie, Soci&#xE9;t&#xE9; Anonyme au capital de 336 872 976 euros, Entreprise r&#xE9;gie par le Code des Assurances - 602 062 481 RCS Paris,</span>
                        <br><span style='color:black;font-size: 10px;font-family: Arial, Helvetica, sans-serif'>Si&#xE8;ge social : 2 rue Pillet-Will - 75009 Paris</span>
                        <br><span style='color:black;font-size: 10px;font-family: Arial, Helvetica, sans-serif'>Soci&#xE9;t&#xE9; appartenant au Groupe Generali, immatricul&#xE9; sur le registre italien des groupes d'assurances sous le num&#xE9;ro 026</span>
                    </td>
                </tr>
            </tbody>
        </table>

        <!-- Codes -->
        <div width='90%' style='margin-top:20px;text-align:center;'>
            <span style='color:black;font-size: 9px;font-family: Arial, Helvetica, sans-serif'><i>Remplissez obligatoirement l'ensemble des donn&#xE9;es ci-dessous, datez, signez et joignez un RIB comportant les mentions IBAN et BIC.</i></span>
            <br><span style='color:black;font-size: 9px;font-family: Arial, Helvetica, sans-serif'><b>Seul un RIB &#xE9;mis par votre banque sur lequel est pr&#xE9;cis&#xE9; votre Nom et Pr&#xE9;nom sera accept&#xE9;</b></span>
        </div>

        <!-- IDENTITE DU PAYEUR -->
        <div width='90%' style='background-color:black;margin-top:20px;padding:5px'>
            <span style='color:white;font-size: 15px;font-family: Arial, Helvetica, sans-serif'>Identit&#xE9; du payeur et du compte bancaire</span>
        </div>
        <div width='90%' style='margin-top:15px;'>
            <span style='color:black;font-size:10px;font-family: Arial, Helvetica, sans-serif'>{{ resp.civility }}</span>
            <br><span style='color:black;font-size:10px;font-family: Arial, Helvetica, sans-serif'>Nom du d&#xE9;biteur : {{ resp.lastname }}</span>
            <br><span style='color:black;font-size:10px;font-family: Arial, Helvetica, sans-serif'>Pr&#xE9;nom du d&#xE9;biteur : {{ resp.firstname }}</span>
            <br><span style='color:black;font-size:10px;font-family: Arial, Helvetica, sans-serif'>Adresse : {{ resp.address }}</span>
            <br><span style='color:black;font-size:10px;font-family: Arial, Helvetica, sans-serif'>Code postal : {{ resp.zipcode }}</span>
            <br><span style='color:black;font-size:10px;font-family: Arial, Helvetica, sans-serif'>Ville : {{ resp.city }}</span>
            <br><span style='color:black;font-size:10px;font-family: Arial, Helvetica, sans-serif'>Pays : {{ resp.country }}</span>
            <br><span style='color:black;font-size:10px;font-family: Arial, Helvetica, sans-serif'>E-mail : {{ resp.email }}</span>
            <br><span style='color:black;font-size:10px;font-family: Arial, Helvetica, sans-serif'>N&#xB0; de t&#xE9;l&#xE9;phone portable : {{ resp.phoneNumber }}</span>
            <br>
            <br><span style='color:black;font-size:10px;font-family: Arial, Helvetica, sans-serif'><b>Coordonn&#xE9;es bancaires</b></span>

        </div>
        <table width='100%' style='margin:auto; margin-top:5px' align='left'>
            <tbody>
                <tr>
                    <td width='20%'><span style='color:black;font-size: 10px;font-family: Arial, Helvetica, sans-serif'>Code &#xE9;tablissement</span></td>
                    <td width='20%'><span style='color:black;font-size: 10px;font-family: Arial, Helvetica, sans-serif'>Guichet</span></td>
                    <td width='40%'><span style='color:black;font-size: 10px;font-family: Arial, Helvetica, sans-serif'>N&#xB0; de compte</span></td>
                    <td width='20%'><span style='color:black;font-size: 10px;font-family: Arial, Helvetica, sans-serif'>Cl&#xE9; RIB</span></td>
                </tr>
                <tr>
                    <td><span style='color:black;font-size: 10px;font-family: Arial, Helvetica, sans-serif'>{{ resp.establishmentCode}}</span></td>
                    <td><span style='color:black;font-size: 10px;font-family: Arial, Helvetica, sans-serif'>{{ resp.counter }}</span></td>
                    <td><span style='color:black;font-size: 10px;font-family: Arial, Helvetica, sans-serif'>{{ resp.accountNumber }}</span></td>
                    <td><span style='color:black;font-size: 10px;font-family: Arial, Helvetica, sans-serif'>{{ resp.ribKey }}</span></td>
                </tr>
            </tbody>
        </table>

        <div width='90%' style='margin:auto; margin-top:5px;align-content: left;'>
            <span style='color:black;font-size: 10px;font-family: Arial, Helvetica, sans-serif'>IBAN (International Bank Account Number)</span>
            <br><span style='color:black;font-size: 10px;font-family: Arial, Helvetica, sans-serif'>{{ resp.iban }}</span>
            <br><span style='color:black;font-size: 10px;font-family: Arial, Helvetica, sans-serif'>BIC (Bank Identification Code)</span>
            <br><span style='color:black;font-size: 10px;font-family: Arial, Helvetica, sans-serif'>{{ resp.bic }}</span>
        </div>

        <!-- DESIGNATION DU CREANCIER -->
        <div width='90%' style='background-color:black;margin-top:20px;padding:5px'>
            <span style='color:white;font-size: 15px;font-family: Arial, Helvetica, sans-serif'>D&#xE9;signation du cr&#xE9;ancier</span>
        </div>
        <div width='90%' style='margin-top:15px;'>
            <span style='color:black;font-size:10px;font-family: Arial, Helvetica, sans-serif'><b>Generali Vie</b> - TSA 70007 - 75447 Paris Cedex 09 - France</span>
            <br><span style='color:black;font-size:10px;font-family: Arial, Helvetica, sans-serif'>Identifiant cr&#xE9;ancier : <b>FR22ZZZ102628</b></span>
        </div>

        <!-- TYPE DE PAIEMENT -->
        <div width='90%' style='background-color:black;margin-top:20px;padding:5px'>
            <span style='color:white;font-size: 15px;font-family: Arial, Helvetica, sans-serif'>Type de paiement *</span>
        </div>
        <div width='90%' style='margin-top:15px;'>
            <span style='color:black;font-size:10px;font-family: Arial, Helvetica, sans-serif'>&#x25A0; Paiement r&#xE9;current/ r&#xE9;p&#xE9;titif &#x25A1; Paiement ponctuel</span>
            <br><span style='color:black;font-size:10px;font-family: Arial, Helvetica, sans-serif'>
            * Un mandat d&#xE9;livr&#xE9; pour un paiement r&#xE9;current/r&#xE9;p&#xE9;titif est valable pour un versement initial, un versement libre ou pour des versements libres
            programm&#xE9;s. Generali Vie diffusant des contrats &#xE0; versements libres qui rel&#xE8;vent n&#xE9;cessairement du r&#xE9;gime des paiements r&#xE9;p&#xE9;titifs/r&#xE9;currents, seule
            la case paiement r&#xE9;current/r&#xE9;p&#xE9;titif a vocation &#xE0; &#xEA;tre coch&#xE9;e. Elle marque votre consentement pour les versements ult&#xE9;rieurs que vous souhaiteriez
            r&#xE9;aliser.</span>
        </div>

        <!-- SIGNATURE -->
        <div width='90%' style='background-color:black;margin-top:20px;padding:5px'>
            <span style='color:white;font-size: 15px;font-family: Arial, Helvetica, sans-serif'>Signature</span>
        </div>
        <div width='90%' style='margin-top:15px;'>
            <span style='color:black;font-size:10px;font-family: Arial, Helvetica, sans-serif'>En signant ce formulaire de mandat, vous autorisez Generali Vie &#xE0; envoyer des instructions &#xE0; votre banque pour d&#xE9;biter votre compte et votre banque
                &#xE0; d&#xE9;biter votre compte conform&#xE9;ment aux instructions de Generali Vie.
            </span>
            <br><span style='color:black;font-size:10px;font-family: Arial, Helvetica, sans-serif'>Sans pr&#xE9;judice de la cr&#xE9;ance dont dispose votre cr&#xE9;ancier &#xE0; votre endroit, vous b&#xE9;n&#xE9;ficiez de la part de votre banque du droit d'&#xEA;tre rembours&#xE9; selon
                les conditions d&#xE9;crites dans la convention que vous avez pass&#xE9;e avec elle. Une demande de remboursement doit &#xEA;tre pr&#xE9;sent&#xE9;e dans les 8 semaines
                suivant la date de d&#xE9;bit de votre compte pour un pr&#xE9;l&#xE8;vement autoris&#xE9;.
            </span>
            <br>
            <br><span style='color:black;font-size:10px;font-family: Arial, Helvetica, sans-serif'><b>Les donn&#xE9;es personnelles du Souscripteur/ de l'Adh&#xE9;rent</b>
            </span>
            <br><span style='color:black;font-size:10px;font-family: Arial, Helvetica, sans-serif'>Pour toute information sur le traitement des donn&#xE9;es du Souscripteur/de l'Adh&#xE9;rent et sur ses droits, Generali Vie l'invite &#xE0; consulter l'annexe 1
                    " Information sur le traitement des donn&#xE9;es personnelles " figurant dans la Notice d'information valant Conditions g&#xE9;n&#xE9;rales du contrat ou sur
                     le site www.generali.fr/donnees-personnelles/information-clientsEP. 
            </span>
        </div>
        <table width='90%' style='margin:auto;padding-top: 10px; margin-top:10px;margin-bottom:40px'>
            <tbody width='100%'>
                <tr width='100%' style='color:black;font-size: 10px;font-family: Arial, Helvetica, sans-serif'>
                    <td width='50%'>
                        Fait &#xE0; : Lyon
                        <br>Le : {{ resp.todayDate }}
                    </td>
                    <td width='50%' style='color:black;font-size: 10px;font-family: Arial, Helvetica, sans-serif;border: solid;border-width: 1px;padding-bottom: 50px'>
                        Signature

                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</body>

</html>